body{
    background:linear-gradient(rgba(211, 19, 19, 0.5),transparent);
    background-color:grey
}
#table{
    text-align: left;
}
#modal-header, #modal-footer{
    background-color: black;
    color: white;
}
/* #profile{
  
    
} */ 